@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 12%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --font: Inter;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.button {
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--Soft-red);
  color: var(--very-dark-blue);
}

.button:hover {
  color: var(--off-white);
  background-color: var(--very-dark-blue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
